<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <main>
        <article class="registro">
            <form class="form" method="POST" action="/tienda/productDetail/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
                <!--enctype="multipart/form-data"-->
                    <div class="datos">
                        <label for="categoria"><span>Categoría:</span>
                            <select name="categoria" id="categoria" >
                                <% let categoriaActual = categorias.splice(categorias.findIndex(element => element.id == product.categoria_id), 1)%>
                                
                                
                                    <option value="<%= product.categoria_id %>"><%= categoriaActual[0].tipo %></option>
                                <% categorias.forEach(categoria =>{ %>
                                    <option value="<%= categoria.id %>"><%= categoria.tipo %></option>
                                <% }) %>
                            </select>
                        </label>
                        <label for="marca"><span style="text-align:right">Marca:</span>
                            <select name="marca" id="marca">
                                <% let marcaActual = marcas.splice(marcas.findIndex(element => element.id == product.marca_id), 1) %>
                                    <option value="<%= product.marca_id %>"><%= marcaActual[0].nombre %></option>
                                <%marcas.forEach((marca) => {%>
                                    <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                <% }) %>
                            </select>
                        </label>
                        <label for="marcaNueva"><span style="text-align:right">Marca Nueva:</span>
                            <input type="checkbox" id="checkMarcaNueva" name="marcaNueva" value="1">
                        </label>
                        <label for="marcaNuevaNombre">
                            <input type="text" name="marcaNuevaNombre" id="marcaNuevaNombre" placeholder="Nombre de la nueva marca">
                        </label>
                        <label for="name">
                            <input type="text" name="name" id="name" value="<%= product.nombre %>" placeholder="Nombre del producto*">
                        </label>
                        <label for="shortDesc">
                            <input type="text" name="shortDesc" id="shortDesc" value="<%= product.descripcion %>" placeholder="Breve descripción*">
                        </label>
                        <label for="longDesc">
                            <input type="text" name="longDesc" id="longDesc" value="<%= product.descLarga %>" placeholder="Descripción detallada*">
                        </label>
                        <label for="price">
                            <input type="number" name="price" id="price" value="<%= product.precio %>" placeholder="Precio*">
                        </label>
                        <label for="discount">
                            <input type="number" name="discount" id="discount" value="<%= product.descuento %>" placeholder="% de Descuento*">
                        </label>
                        <label for="stock">
                            <input type="number" name="stock" id="stock" value="<%= product.stock %>" placeholder="Stock*">
                        </label>
                        <div class="img-products-edit">
                            <p class="borrarImgs">Borrar Imágenes</p>
                            <div id="arrayImgs">
                                <% for (i = 0; i < product.imagenes.length; i++) { %>
                                    <label for="imgDel<%=i%>">
                                        <img src="/img/<%=product.imagenes[i]%>" alt="">
                                        <input type="checkbox" name="imgDel<%=i%>" id="imgDel<%=i%>" value="1">
                                    </label>
                                <% } %>
                            </div>
                        </div>
                        <p>Agregar Imágenes</p>
                        <label for="images">
                            <input class="imagenes-input" type="file" name="images" id="images" multiple>
                        </label>
                    </div>
                </div>
                    <div class="botones-fondo">
                    <button type="reset" class="boton-enviar">Borrar</button>
                    <button type="submit" class="boton-enviar">Modificar</button>
                </div>
                </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacionModificarProducto.js"></script>
</body>
</html>