<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <section class="logoAdmin">
        <a href="/"><img src="../img/logo-musicalidades-header.png" alt=""></a>
    </section>
    <main>
        <article class="registro">
            <form class="form" method="POST" action="/tienda/productDetail/<%= product.id %>?_method=PUT" enctype="multipart/form-data">
                    <div class="datos">
                        <label for="categoria"><span>Categoría:</span>
                            <% if(laCategoria.length > 0){ %>
                                    <select name="categoria" id="categoria" >
                                        <% let categoriaActual = categorias.splice(categorias.findIndex(element => element.id == laCategoria), 1)%>
                                            <option value="<%= laCategoria %>"><%= categoriaActual[0].tipo %></option>
                                        <% categorias.forEach(categoria =>{ %>
                                            <option value="<%= categoria.id %>"><%= categoria.tipo %></option>
                                        <% }) %>
                                    </select>
                                <%}else{%>
                                    <select name="categoria" id="categoria">
                                        <% let categoriaActual = categorias.splice(categorias.findIndex(element => element.id == product.categoria_id), 1) %>
                                            <option value="<%= product.categoria_id %>"><%= categoriaActual[0].tipo %></option>
                                        <%categorias.forEach((categoria) => {%>
                                            <option value="<%= categoria.id %>"><%= categoria.tipo %></option>
                                        <% }) %>
                                    </select>
                                <%}%>
                        </label>
                        <% if (locals.errors && errors.categoria) { %>
                            <p class="error-validacion"><%= errors.categoria.msg %></p>
                        <% } %>
                        <label for="marca"><span style="text-align:right">Marca:</span>
                            <% if(laMarca.length > 0){ %>
                                <select name="marca" id="marca">
                                    <% let marcaActual = marcas.splice(marcas.findIndex(element => element.id == laMarca), 1) %>
                                        <option value="<%= laMarca %>"><%= marcaActual[0].nombre %></option>
                                    <%marcas.forEach((marca) => {%>
                                        <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                    <% }) %>
                                </select>
                            <% } else { %>
                            <select name="marca" id="marca">
                                <% let marcaActual = marcas.splice(marcas.findIndex(element => element.id == product.marca_id), 1) %>
                                    <option value="<%= product.marca_id %>"><%= marcaActual[0].nombre %></option>
                                <%marcas.forEach((marca) => {%>
                                    <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                <% }) %>
                            </select>
                            <% } %>
                        </label>
                        <% if (locals.errors && errors.marca) { %>
                            <p class="error-validacion"><%= errors.marca.msg %></p>
                        <% } %>
                        <label for="marcaNueva"><span style="text-align:right">Marca Nueva:</span>
                            <input type="checkbox" id="checkMarcaNueva" name="marcaNueva" value="1">
                        </label>
                        <label for="marcaNuevaNombre">
                            <input type="text" name="marcaNuevaNombre" id="marcaNuevaNombre" placeholder="Nombre de la nueva marca">
                        </label>
                        <% if (locals.errors && errors.marcaNuevaNombre) { %>
                            <p class="error-validacion"><%= errors.marcaNuevaNombre.msg %></p>
                        <% } %>
                        <label for="name">
                            <input type="text" name="name" id="name" value="<%if(locals.old){%><%=locals.old.name%><%}else{%><%= product.nombre %><%}%>" placeholder="Nombre del producto*">
                        </label>
                        <% if (locals.errors && errors.name) { %>
                            <p class="error-validacion"><%= errors.name.msg %></p>
                        <% } %>
                        <label for="shortDesc">
                            <input type="text" name="shortDesc" id="shortDesc" value="<%if(locals.old){%><%=locals.old.shortDesc%><%}else{%><%= product.descripcion %><%}%>" placeholder="Breve descripción*">
                        </label>
                        <% if (locals.errors && errors.shortDesc) { %>
                            <p class="error-validacion"><%= errors.shortDesc.msg %></p>
                        <% } %>
                        <label for="longDesc">
                            <textarea name="longDesc"  id="longDesc" placeholder="Descripción detallada*"><%if(locals.old){%><%=locals.old.longDesc%><%}else{%><%= product.descLarga %><%}%></textarea>
                        </label>
                        <% if (locals.errors && errors.longDesc) { %>
                            <p class="error-validacion"><%= errors.longDesc.msg %></p>
                        <% } %>
                        <label for="price">
                            <input type="number" name="price" id="price" value="<%if(locals.old){%><%=locals.old.price%><%}else{%><%= product.precio %><%}%>" placeholder="Precio*">
                        </label>
                        <% if (locals.errors && errors.price) { %>
                            <p class="error-validacion"><%= errors.price.msg %></p>
                        <% } %>
                        <label for="discount">
                            <input type="number" name="discount" id="discount" value="<%if(locals.old){%><%=locals.old.discount%><%}else{%><%= product.descuento %><%}%>" placeholder="% de Descuento*">
                        </label>
                        <% if (locals.errors && errors.discount) { %>
                            <p class="error-validacion"><%= errors.discount.msg %></p>
                        <% } %>
                        <label for="stock">
                            <input type="number" name="stock" id="stock" value="<%if(locals.old){%><%=locals.old.stock%><%}else{%><%= product.stock %><%}%>" placeholder="Stock*">
                        </label>
                        <% if (locals.errors && errors.stock) { %>
                            <p class="error-validacion"><%= errors.stock.msg %></p>
                        <% } %>
                        <div class="img-products-edit">
                            <p class="borrarImgs">Borrar Imágenes</p>
                            <div id="arrayImgs">
                                <% for (i = 0; i < product.imagenes.length; i++) { %>
                                    <label for="imgDel<%=i%>">
                                        <img src="/img/<%=product.imagenes[i]%>" alt="">
                                        <input type="checkbox" name="imgDel<%=i%>" id="imgDel<%=i%>" value="1">
                                    </label>
                                <% } %>
                            </div>
                        </div>
                        <p>Agregar Imágenes</p>
                        <label for="images">
                            <input class="imagenes-input" type="file" name="images" id="images" multiple>
                        </label>
                        <% if (locals.errors && errors.images) { %>
                            <p class="error-validacion"><%= errors.images.msg %></p>
                        <% } %>
                    </div>
                </div>
                    <div class="botones-fondo">
                    <button type="reset" class="boton-enviar">Borrar</button>
                    <button type="submit" class="boton-enviar">Modificar</button>
                </div>
                </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacionModificarProductoFront.js"></script>
</body>
</html>