<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <main>
        <article class="registro">
            <form class="form" method="POST" action="/tienda/newProduct" enctype="multipart/form-data">
                <div class="datos">
                    <label for="categoria"><span style="text-align:right">Categoría:</span>
                        <select name="categoria" id="categoria" required> 
                            <option value="5">Seleccionar</option> 
                            <option value="1">Cuerdas</option>
                            <option value="3">Percusión</option>
                            <option value="2">Teclas</option>
                            <option value="4">Vientos</option>
                            <option value="6">Sin Categoría</option>                            
                        </select>
                    </label>
                    <label for="marca"><span style="text-align:right">Marca:</span>
                        <select name="marca" id="marca"> 
                            <option value="seleccionar">Seleccionar</option> 
                            <%marcas.forEach((marca) => {%>
                                <option value="<%= marca.id %>"><%= marca.nombre %></option>
                            <% }) %>
                        </select>
                    </label>
                        <label for="marcaNueva">
                            <p>Marca Nueva:</p>
                            <input type="checkbox" id="checkMarcaNueva" name="marcaNueva" value="1">
                        </label>
                        <label for="marcaNuevaNombre">
                            <input type="text" name="marcaNuevaNombre" id="marcaNuevaNombre" placeholder="Nombre de la nueva marca">
                        </label>
                    <label for="name">
                        <input type="text" name="name" id="name" placeholder="Nombre del producto*" required>
                    </label>
                    <label for="shortDesc">
                        <input type="text" name="shortDesc" id="shortDesc" placeholder="Breve descripción*" required>
                    </label>
                    <label for="longDesc">
                        <input type="text" name="longDesc" id="longDesc" placeholder="Descripción detallada*" required>
                    </label>
                    <label for="price">
                        <input type="number" name="price" id="price" placeholder="Precio*" required>
                    </label>
                    <label for="discount">
                        <input type="number" name="discount" id="discount" placeholder="% de Descuento*" required>
                    </label>
                    <label for="stock">
                        <input type="number" name="stock" id="stock" placeholder="Stock*" required>
                    </label>
                    <label for="images">
                        <p>Imágenes</p>
                        <input class="imagenes-input" type="file" name="images" id="images" placeholder="Imágenes" multiple>
                    </label>
                </div>
            </div>
                <div class="botones-fondo">
                <button type="reset" class="boton-enviar">Borrar</button>
                <button type="submit" class="boton-enviar">Crear</button>
            </div>
            </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
    <!-- <script src="/js/marcas.js"></script> -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacionProductos.js"></script>
</body>
</html>