<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body class="registro-body">
    <header>
        <nav>
        </nav>
    </header>
    <section class="logoAdmin">
        <a href="/"><img src="../img/logo-musicalidades-header.png" alt=""></a>
    </section>
    <main>
        <article class="registro">
            <form class="form" method="POST" action="/tienda/newProduct" enctype="multipart/form-data">
                <div class="datos">
                    <label for="categoria"><span style="text-align:right">Categoría:</span>
                        <% if(laCategoria.length > 0){ %>
                            <select name="categoria" id="categoria">
                                <% let categoriaActual = categorias.splice(categorias.findIndex(element => element.id == laCategoria), 1) %>
                                    <option value="<%= laCategoria %>"><%= categoriaActual[0].tipo %></option>
                                <%categorias.forEach((categoria) => {%>
                                    <option value="<%= categoria.id %>"><%= categoria.tipo %></option>
                                <% }) %>
                            </select>
                        <%} else {%>
                        <select name="categoria" id="categoria"> 
                            <option value="-1">Seleccionar</option> 
                            <%categorias.forEach((categoria) => {%>
                                <option value="<%= categoria.id %>"><%= categoria.tipo %></option>
                            <% }) %>                            
                        </select>
                        <% } %>
                    </label>
                    <% if (locals.errors && errors.categoria) { %>
                        <p class="error-validacion"><%= errors.categoria.msg %></p>
                    <% } %>
                    <label for="marca"><span style="text-align:right">Marca:</span>
                        <%if (laMarca.length > 0) {%>
                            <select name="marca" id="marca">
                                <% let marcaActual = marcas.splice(marcas.findIndex(element => element.id == laMarca), 1) %>
                                    <option value="<%= laMarca %>"><%= marcaActual[0].nombre %></option>
                                <%marcas.forEach((marca) => {%>
                                    <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                <% }) %>
                            </select>
                        <% } else { %>
                            <select name="marca" id="marca">
                                <option value="-1">Seleccionar</option> 
                                <%marcas.forEach((marca) => {%>
                                    <option value="<%= marca.id %>"><%= marca.nombre %></option>
                                <% }) %>
                            </select>
                        <% } %>
                    </label>
                    <% if (locals.errors && errors.marca) { %>
                        <p class="error-validacion"><%= errors.marca.msg %></p>
                    <% } %>
                        <label for="marcaNueva">
                            <p>Marca Nueva:</p>
                            <input type="checkbox" id="checkMarcaNueva" name="marcaNueva" value="1">
                        </label>
                        <label for="marcaNuevaNombre">
                            <input type="text" name="marcaNuevaNombre" id="marcaNuevaNombre" placeholder="Nombre de la nueva marca" value="<%=locals.old && old.marcaNuevaNombre ? old.marcaNuevaNombre : ''%>">
                        </label>
                        <% if (locals.errors && errors.marcaNuevaNombre) { %>
                            <p class="error-validacion"><%= errors.marcaNuevaNombre.msg %></p>
                        <% } %>
                    <label for="name">
                        <input type="text" name="name" id="name" placeholder="Nombre del producto*" value="<%=locals.old && old.name ? old.name : ''%>" >
                    </label>
                    <% if (locals.errors && errors.name) { %>
                        <p class="error-validacion"><%= errors.name.msg %></p>
                    <% } %>
                    <label for="shortDesc">
                        <input type="text" name="shortDesc" id="shortDesc" placeholder="Breve descripción*" value="<%=locals.old && old.shortDesc ? old.shortDesc : ''%>" >
                    </label>
                    <% if (locals.errors && errors.shortDesc) { %>
                        <p class="error-validacion"><%= errors.shortDesc.msg %></p>
                    <% } %>
                    <label for="longDesc">
                        <textarea name="longDesc"  id="longDesc" placeholder="Descripción detallada*"><%=locals.old && old.longDesc ? old.longDesc : ''%></textarea>
                    </label>
                    <% if (locals.errors && errors.longDesc) { %>
                        <p class="error-validacion"><%= errors.longDesc.msg %></p>
                    <% } %>
                    <label for="price">
                        <input type="number" name="price" id="price" placeholder="Precio*" value="<%=locals.old && old.price ? old.price : ''%>" >
                    </label>
                    <% if (locals.errors && errors.price) { %>
                        <p class="error-validacion"><%= errors.price.msg %></p>
                    <% } %>
                    <label for="discount">
                        <input type="number" name="discount" id="discount" placeholder="% de Descuento*" value="<%=locals.old && old.discount ? old.discount : ''%>" >
                    </label>
                    <% if (locals.errors && errors.discount) { %>
                        <p class="error-validacion"><%= errors.discount.msg %></p>
                    <% } %>
                    <label for="stock">
                        <input type="number" name="stock" id="stock" placeholder="Stock*"  value="<%=locals.old && old.stock ? old.stock : ''%>" >
                    </label>
                    <% if (locals.errors && errors.stock) { %>
                        <p class="error-validacion"><%= errors.stock.msg %></p>
                    <% } %>
                    <label for="images">
                        <p>Imágenes</p>
                        <input class="imagenes-input" type="file" name="images" id="images" placeholder="Imágenes" multiple>
                    </label>
                    <% if (locals.errors && errors.images) { %>
                        <p class="error-validacion"><%= errors.images.msg %></p>
                    <% } %>
                </div>
            </div>
                <div class="botones-fondo">
                <button type="reset" class="boton-enviar">Borrar</button>
                <button type="submit" class="boton-enviar">Crear</button>
            </div>
            </form>
        </article>
    </main>
    <%- include('../partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/validacionProductosFront.js"></script>  
</body>
</html>