<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('../partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <% if (admin == true) { %>
        <a href="/tienda/modifyProduct/<%= product.id %>">editar producto | </a>
        
        <a href="/tienda/deleteProduct/><%= product.id%>">eliminar producto</a>
        <% } %>
        <h4 class="titulo-nav-paginas">> Categoría <%= product.categoria %> <span>> Marca <%= product.marca %> <span>> <%= product.name %></span></h4>
        <section class="producto">
            




            <!-- carousel -->
            <div class="carousel-container">
                <div class="carousel">
                    <div class="carousel-inner">
                        <input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
                        <div class="carousel-item">
                            <img src="/img/<%= product.image[0] %>">
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item">
                            <img src="/img/<%= product.image[1] %>">
                        </div>
                        <input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
                        <div class="carousel-item">
                            <img src="/img/<%= product.image[2] %>">
                        </div>
                        <label for="carousel-3" class="carousel-control prev control-1">‹</label>
                        <label for="carousel-2" class="carousel-control next control-1">›</label>
                        <label for="carousel-1" class="carousel-control prev control-2">‹</label>
                        <label for="carousel-3" class="carousel-control next control-2">›</label>
                        <label for="carousel-2" class="carousel-control prev control-3">‹</label>
                        <label for="carousel-1" class="carousel-control next control-3">›</label>
                    </div>
                </div>
                <ol class="carousel-indicadores"><!--i<product.image.length   JUANCHO DESP VEAMOS LA FORMA DE ARMAR ESTO CON TODAS LAS FOTOS QUE SE SUBAM, PERO PARA QUE NO QUEDE UNA TORRE DE IMAGENES, QUE SE OCULTEN LAS QUE SOBRAN Y SE MUEVAN CON FLECHAS <- FOTO-FOTO-FOTO ->  -->
                    <% for (let i=0; i<3; i++) { %>
                        <li>
                            <label for="carousel-<%=i+1%>" class="carousel-bullet"><img src="/img/<%= product.image[i] %>" alt=""></label>
                        </li>
                    <%}%>

                </ol>
            </div>
                <!-- descripcion del producto -->
                
            <div class="cont-producto-descripcion">
                <article class="producto-descripcion">
                    <h2><%= product.name%></h2>
                    <h3><%= product.shortDesc%></h3>
                    <% if (product.discount > 0){ %>
                        <span class="precio-tachado-big">$<%= Intl.NumberFormat('sp-SP').format(product.price) %></span>
                        <span class="precio">$<%= Intl.NumberFormat('sp-SP').format((product.price * (100-product.discount))/100) %></span>
                        <p class="descuento"><%= product.discount %>% OFF</p>
                    <% } else { %>
                        <p class="precio">$<%= Intl.NumberFormat('sp-SP').format(product.price) %></p>
                        <p class="descuento">      </p>
                    <% } %>
                    <form action="" class="producto-form">
                        <div class="cantidad">
                            <label for="-">
                                <button id="-" name="menos">-</button>
                            </label>
                            <label for="cantidad">
                                <input type="number" name="cantidad" id="cantidad" value="1" required>
                            </label>
                            <label for="+">
                                <button id="+" name="mas">+</button>
                            </label>
                        </div>
                        <label for="enviar">
                            <button type="submit" id="enviar" class="boton-enviar">AGREGAR AL CARRITO</button>
                        </label>
                    </form>
                    <p class="stock">Stock: <%= product.stock %></p>
                    <p class="marca">Marca: <%= product.marca %></p>
                </article>
                <article class="producto-descripcion">
                    <div>
                        <h4>Detalles del producto:</h4>
                        <p class="descripcion-detallada">
                            <%= product.longDesc%>
                        </p>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('../partials/footer') %>
</body>
</html>