<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('../partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('../partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main>
        <h1 class="titulo">ESTA SERÁ LA PÁGINA TIENDA</h1>
        <div class="volver">
            <a href="/"><i class="fa-solid fa-arrow-rotate-left"></i> Volver a la Página Principal</a>
        </div>
    
        <section id="productos-destacados">
            
            <%products.forEach((product) => { %>
                <div class="productos-destacados">
                    <a href="/tienda/productDetail"><img src="/img/<%= product.image %>" alt=<%= product.name %>></a>
                    <h3><%= product.name %></h3>
                    <% if (product.discount > 0){ %>
                        <span class="precio-tachado">$<%= product.price %></span>
                        <span class="precio">$<%= (product.price * (100-product.discount))/100 %></span>
                        <p class="descuento"><%= product.discount %>% OFF</p>
                    <% } else { %>
                        <p class="precio"><%= product.price %></p>
                        <p class="descuento">      </p>
                    <% } %>
                    <p><button>AGREGAR</button></p>
                </div>
            <% }) %>
            <div class="pagina">
                <div class="busqueda-paginacion">
                    <ul>
                        <li class="pagina-anterior">
                            <span class="pagina-anterior">Anterior</span>
                        </li>
                        <li class="pagina-corriente">
                            <span class="pagina-1">1 </span>
                        </li>
                        <li class="pagina-de-hasta">de  1</li>
                        <li class="pagina-siguiente">
                            <span class="titulo-flecha-sig">Siguiente</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('../partials/footer') %>
</body>
</html>