<!DOCTYPE html>
<html lang="en">
<!-------------------------HEAD-------------------------->
<%- include('./partials/head') %>

<body>
    <!-----------------------HEADER-------------------------->
    <%- include('./partials/header') %>
    <!-------------------------MAIN------------------------------->
    <main class="contacto">
        <section class="contactanos">
            <h3>CONTACTANOS</h3>
            <p>Si tenés dudas, consultas, sugerencias, o querés saber algo más, escribinos!</p>
            <br>
            <p class="mensajeGracias">           
                <% if(locals.errors){
                    errors.forEach( error => {%>
                    <p class="error"><%= error.msg %> </p>
                <% }) 
                }%>
            <form class="form" method="POST" action="/contacto">
                <div class="datos"><p>
                    <label for="nombre">
                        <input class="form-relleno" type="text" name="nombre" id="nombre" placeholder="Nombre y Apellido*" value="<%= locals.errors && old.nombre ? old.name : "" %>">
                    </label>
                    <label for="email">
                        <input type="text" name="email" id="email" placeholder="Email*" value="<%= locals.errors && old.email ? old.email : "" %>">
                    </label>
                    <label for="mensaje">
                        <textarea name="mensaje" id="mensaje" placeholder="Mensaje*:" value="<%= locals.errors && old.mensaje ? old.mensaje : "" %>"></textarea>
                    </label>
                </div>
                    <div class="botones-fondo">
                    <button type="reset" class="boton-enviar">Borrar</button>
                    <button type="submit" class="boton-enviar">Enviar</button>
                </div>
            </form>
        </section>
        <section class="direccion">
            <a href="/"><img src="./img/logo-musicalidades-header.png" alt=""></a>

            <div class="direccion-contacto">
                
            <h4>Dirección:</h4>
                <p>Avenida Siempre Viva 742, Ciudad de Buenos Aires</p>
                <br>
                <h4>Email:</h4>
                <a href="mailto:info@tiendamusicalidades.com" target="_self">
                    <p class="email"><i class="fa-regular fa-envelope"></i> info@tiendamusicalidades.com</p>
                </a>
            </div>
            <div class="mapouter">
                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=ciudad%20de%20buenos%20aires&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </section>
    </main>
    <!-------------------------FOOTER------------------------------->
    <%- include('./partials/footer') %>
    <script src="/js/validacionContactoFront.js"></script>
</body>
</html>