<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="registro-body">
    <%- include('../partials/header') %>
    <hr>
    <h2 style="text-align: center;"> Editar datos de <%= user.nombre%> <%=user.apellido%></h2>
    <hr>
    <section class="tituloAdmin">
        <% if (admin == true) { %>
            <h2 class="titulo-admin">VISTA DE ADMINISTRACIÓN</h2>
        <% }%>
    </section>
    <section class="busquedaTitulo"></section>
    <section class="ordenYfiltros"></section>
    <main class="myProfile">

        <span class="text-danger">
            <ul>
                <% if (error){ %>
                    <% error.forEach(error =>{ %>
                        <li class="error-validacion" ><%= error.msg %></li>
                    <% }) %>
                <% } %>
            </ul>
        </span>
        <form class="form myProfile" method="POST" action="/myprofile/<%= user.id %>?_method=PATCH" enctype="multipart/form-data"><!-- enctype="multipart/form-data" -->
            <div class="datos">
                <div id="img">
                    <img src="/img/<%= user.avatar %>" alt="">
                    <p>Cambiar Imagen</p>
                    <label for="avatar">
                        <input class="imagenes-input" type="file" name="avatar" id="avatar">
                    </label>
                </div>
                <div>
                    <label for="nombre">
                        <p>Nombre:<input type="text" name="nombre" id="nombre" value="<%= user.nombre %>" ></p>
                    </label>
                    <label for="apellido">
                        <p>Apellido:<input type="text" name="apellido" id="apellido" value="<%= user.apellido %>" ></p>
                    </label>
                    <label for="email">
                        <p>Email:<input type="email" name="email" id="email" value="<%= user.email %>" ></p>
                    </label>
                </div>
                <div>
                    <label for="pais">
                        <p>País:<input type="text" name="pais" id="pais" value="<%= user.pais %>" ></p>
                    </label>
                    <label for="provincia">
                        <p>Provincia:<input type="text" name="provincia" id="provincia" value="<%= user.provincia %>" ></p>
                    </label>
                    <label for="ciudad">
                        <p>Ciudad:<input type="text" name="ciudad" id="ciudad" value="<%= user.ciudad %>" ></p>
                    </label>
                    <label for="direccion">
                        <p>Dirección:<input type="text" name="direccion" id="direccion" value="<%= user.direccion %>" ></p>
                    </label>
                    <label for="codigo">
                        <p>Código Postal:<input type="number" name="codigo" id="codigo" value="<%= user.codPostal %>" ></p>
                    </label>
                    <label for="fechaNac">
                        <p>Fecha de Nacimiento:<input type="date" name="fechaNac" id="fechaNac" value="<%= user.fechaNac %>" ></p>
                    </label><button type="submit" class="boton-enviar">Modificar Datos</button>
                </br><p></p>
                <hr>
            </br>
            <p class="p-admin" style="margin-left: 10px;"><a class="botones-admin" href="/myprofile">VOLVER</a></p>
            
        </div>
    </div>
</form>
</main>
<div class="pagina" id="paginado-tienda"></div>
<%- include('../partials/footer') %>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/validacionModificarUsuarioFront.js"></script>    
<script src="/js/busquedaProductos.js"></script> 

</body>
</html>